﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   <div id="outer" class="outerPanel">
       <div class="page">
<header id="masthead" class="site-header" role="banner">
	
	<div class="logo">
		<h1 class="site-title"><a href="/" title="Ajaxify" rel="home">Cinema</a></h1>
	</div>
    <div class="searchPanel">
    @using (Html.BeginForm("Index", "Title"))
    {
       @Html.TextBox("name",null,new { @class= " searchtxt ",@placeholder="Search …"})
       <input type="submit" value="" class="searchbtn" />
    }
    </div>

    <div class="menuPanel"><a href="/Home/Contact" class="ajax">Contact Us</a></div>
	</header>
           <div id="content" class="site-main">
     @RenderBody()
               </div>
             </div>
   </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("http://balupton.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js")
    @Scripts.Render("~/bundles/ajaxify")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.searchbtn').ajaxify();
        });
    </script>
</body>

</html>
